@model IEnumerable<MoviesApp.Models.Movie>

<h2>Movies List</h2>

<a href="/Movies/Create">Add Movie</a>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Director</th>
        <th>Release Date</th>
        <th>Actions</th>
    </tr>

    @foreach (var m in Model)
    {
        <tr>
            <td>@m.MovieName</td>
            <td>@m.DirectorName</td>
            <td>@m.DateOfRelease.ToShortDateString()</td>
            <td>
                <a href="/Movies/Edit/@m.Mid">Edit</a> |
                <a href="/Movies/Delete/@m.Mid">Delete</a>
            </td>
        </tr>
    }
</table>
